@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
/* 1. Reset box-sizing for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margins and paddings */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* 3. Set default body styles */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in iOS */
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed; /* Improve text rendering */
  /* Default font family */
}

/* 4. Remove list styles on lists */
ul,
ol {
  list-style: none;
}

/* 5. Remove text decoration from links */
a {
  text-decoration: none;
  color: inherit;
}

/* 6. Reset images and media elements */
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 7. Remove fieldset, legend, and button default styles */
fieldset {
  border: 0;
  padding: 0;
}
legend {
  padding: 0;
}
button {
  all: unset; /* Reset all inherited styles */
  cursor: pointer;
}

/* 8. Ensure consistent form element styling */
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* 9. Add a default focus style */

/* 10. Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ql-container {
  height: auto;
  min-height:200px;


}
.ql-editor {
font-size: 1.05rem;
;
}
@media (min-width: 640px) {
  .ql-container {
    height: auto;
    min-height:300px;
  }
  .ql-editor {
    font-size: 1.05rem;
  }
}
